* text=auto eol=lf

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.args text eol=lf

*.ttf binary
*.woff binary
*.woff2 binary
*.exe binary
*.zip binary
*.gz binary
